include ../bower_components/ui/jade/typekit
include ../bower_components/ui/jade/logo

doctype html
block html
  html(data-format="#{ format }")
    head
      meta(charset="utf-8")
      title
        block title
      meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
      link(href="../css/index.css" rel="stylesheet")
      link(href="/images/favicon.ico" rel="icon" type="image/x-icon")

      script(src="//fast.eager.io/Njkyd51uIccS.js")
      +typekit

    body
      .page-loader
        .page-loader-inner
          .loading-dots.dark-gray
            | <i></i><i></i><i></i><i></i>

      .navigation
        a.json-is-logo(href="http://json.is")
          | JSON.is

        .mobile-message
          p
            | Since #{ format }.json.is is primarily a code editor, it’s not really well-suited for small screens.
          p
            | Please check us out on a larger screen. :)

          p
            a.more(href="mailto:?subject=Check out #{ format }.json.is when I’m next at a computer&body=Website: http://#{ format }.json.is" target="_blank")
              | Email yourself a reminder

        ul.side-navigation-list
          li
            a(class=(format === 'bower' ? 'active' : '') href="http://bower.json.is") bower.json
          li
            a(class=(format === 'install' ? 'active' : '') href="http://install.json.is") install.json
          li
            a(class=(format === 'package' ? 'active' : '') href="http://package.json.is") package.json
          li.separator.large
          li
            a(href="http://github.com/EagerIO/JSON.is") GitHub
          li
            a(href="http://json.is") About

        a.share.share-target
          span
            | Share

        a.attribution(href="https://eager.io")
          .logo-link
            +logo

      .page
        .code-editor
          block code

          .code-overlay
            .code-overlay-content

          .code-property-path

      script(src="../js/lib.js")
      script(src="../js/app.js")

      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-50254005-5', 'auto');
        ga('send', 'pageview');

